/* public/style.css */
:root {
    --bg-dark: #050505;
    --bg-panel: #121212;
    --text-main: #e0e0e0;
    --accent-color: #00f3ff; /* Neon Cyan */
    --accent-secondary: #9d00ff; /* Neon Purple */
    --border-color: #333;
}

body {
    background-color: var(--bg-dark);
    color: var(--text-main);
    font-family: 'Courier New', Courier, monospace; /* Font ala coding */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header */
nav {
    background: var(--bg-panel);
    border-bottom: 1px solid var(--accent-color);
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--accent-color);
    text-shadow: 0 0 10px var(--accent-color);
    letter-spacing: 2px;
}

/* Containers */
.container {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
}

/* Kartu / Panel */
.card {
    background: var(--bg-panel);
    border: 1px solid var(--border-color);
    padding: 20px;
    border-radius: 4px;
    margin-bottom: 20px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.5);
}

.card h3 {
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 10px;
    margin-top: 0;
    color: var(--accent-color);
}

/* Form Elements */
input, textarea {
    width: 100%;
    background: #000;
    border: 1px solid var(--border-color);
    color: var(--text-main);
    padding: 10px;
    margin-bottom: 10px;
    font-family: inherit;
    box-sizing: border-box;
}

input:focus, textarea:focus {
    outline: none;
    border-color: var(--accent-color);
}

button {
    background: transparent;
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.3s;
}

button:hover {
    background: var(--accent-color);
    color: #000;
    box-shadow: 0 0 15px var(--accent-color);
}

.logout-btn {
    border-color: red;
    color: red;
}
.logout-btn:hover {
    background: red;
    box-shadow: 0 0 15px red;
}